<strong> Olá, {{ deliveryman }} </strong>
<p>Tem uma nova encomenda disponível pra você, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipientName }} <br />
  <p>
  <strong>Endereço: </strong>{{ recipientStreet }}.<br />
  <strong>Número: </strong>{{ recipientNumber }}.<br />
  <strong>Complemento: </strong>{{ recipientComplement }}.<br/>
  <strong>Estado: </strong>{{ recipientState }}.<br />
  <strong>Cidade: </strong>{{ recipientCity }}.<br />
  <strong>CEP: </strong>{{ recipientZipCode }}.
  <br />

  <br />
  <small>
    O produto já está disponível para retirada, no período das 08:00 às 18:00h. Tenha um ótimo dia.
  </small>
</p>
